.container {
    max-width: 900px;
    margin: 0 auto;
    margin-top: 65px;
}
.work {
    font-size: 44px;
    font-weight: bold;
    margin-bottom: 31px;
}
.feat {
    display: flex;
    border-bottom: 1px solid #E0E0E0;
    padding: 15px 0;
    align-items: center;
}

.feat-work {
    padding-left: 50px;
}

.feat-work h1 {
    font-size: 30px;
    font-weight: bold;
    margin: 0;
}

.feat-work p {
    font-size: 16px;
    font-weight: 500;
}

.feat-work-year {
    padding: 15px 0;
}

.feat-work-year .year {
    color: white;
    background-color: #142850;
    padding: 1px 10px;
    border-radius: 15px;
    font-size: 18px;
    font-weight: bold;
}

.feat-work-year .dashboard {
    font-size: 20px;
    color: #8695A4;
    padding-left: 30px;
}