<form nz-form class="login-form" (ngSubmit)="onSubmit()">
    <nz-form-item>
        <nz-form-control nzErrorTip="Please input your name!">
            <label for="name">Name</label><br>
            <nz-input-group nzPrefixIcon="user">
                <input type="text" nz-input [(ngModel)]="product.name" name="name" placeholder="Name" />
            </nz-input-group>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-control nzErrorTip="Please input your price!">
            <label for="name">Price</label><br>
            <nz-input-group nzPrefixIcon="lock">
                <input type="text" nz-input [(ngModel)]="product.price" name="price" placeholder="Price" />
            </nz-input-group>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-control nzErrorTip="Please input your img!">
            <label for="name">Image</label><br>
            <nz-input-group nzPrefixIcon="lock">
                <input type="text" nz-input [(ngModel)]="product.img" name="img" placeholder="Img" />
            </nz-input-group>
        </nz-form-control>
    </nz-form-item>
    <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'">Add</button>
</form>