<table class="table table-bordered">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Price</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of products; let i=index">
            <td>{{i+1}}</td>
            <td>{{product.name}}</td>
            <td>{{product.price}}</td>
            <td>{{product.status? "còn hàng": "hết hàng"}}</td>
            <td>
                <a href="" class="btn btn-primary">Edit</a>
                <button class="btn btn-danger" (click)="onHandleRemove(product.id)">Delete</button>
                <button class="btn btn-info" (click)="onHandleGetProduct(product)">Detail</button>
            </td>
        </tr>
    </tbody>
</table>

<div class="detail" *ngIf="productDetail">
    <app-product-detail [product]="productDetail"></app-product-detail>
</div>