<div class="container">
    <div>
        <img src="https://cutewallpaper.org/24/portfolio-png/portfolio-%E2%80%94-auden-amp-company.png" alt=""
            width="120" height="60">
    </div>
    <div>
        <ul class="menu">
            <li><a href="" routerLink="work">Works</a></li>
            <li><a href="" routerLink="blog">Blog</a></li>
            <li><a href="" routerLink="/portfolio">Contact</a></li>
        </ul>
    </div>
    <button class="menu-none">
        <i nz-icon nzType="menu" nzTheme="outline"></i>
    </button>
</div>