<div class="container">
    <h1 class="blog">Blog</h1>
    <div>
        <div class="post">
            <h2>UI Interactions of the week</h2>

            <div class="day-cate">
                <span class="day">12 Feb 2019</span>
                <span class="category">Express, Handlebars</span>
            </div>

            <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat
                duis enim velit
                mollit. Exercitation veniam consequat sunt nostrud amet.</p>
        </div>
        <div class="post">
            <h2>UI Interactions of the week</h2>

            <div class="day-cate">
                <span class="day">12 Feb 2019</span>
                <span class="category">Express, Handlebars</span>
            </div>

            <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat
                duis enim velit
                mollit. Exercitation veniam consequat sunt nostrud amet.</p>
        </div>
        <div class="post">
            <h2>UI Interactions of the week</h2>

            <div class="day-cate">
                <span class="day">12 Feb 2019</span>
                <span class="category">Express, Handlebars</span>
            </div>

            <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat
                duis enim velit
                mollit. Exercitation veniam consequat sunt nostrud amet.</p>
        </div>
        <div class="post">
            <h2>UI Interactions of the week</h2>

            <div class="day-cate">
                <span class="day">12 Feb 2019</span>
                <span class="category">Express, Handlebars</span>
            </div>

            <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat
                duis enim velit
                mollit. Exercitation veniam consequat sunt nostrud amet.</p>
        </div>
    </div>
</div>