<div class="container">
    <div class="footer">
        <img src="https://scontent.xx.fbcdn.net/v/t1.15752-9/281193447_3221827994741401_7960501716161214034_n.png?stp=cp0_dst-png&_nc_cat=101&ccb=1-7&_nc_sid=aee45a&_nc_ohc=65pF5pqD7nYAX-dEs-M&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&oh=03_AVL1E_gei64T4rJ1XrGduSjpZ7lvbhyxRpBpEhHtoSYQCA&oe=62C3E3B0"
            alt="">
        <img src="https://scontent.xx.fbcdn.net/v/t1.15752-9/283691412_347094317505714_8570075379509392377_n.png?stp=cp0_dst-png&_nc_cat=106&ccb=1-7&_nc_sid=aee45a&_nc_ohc=I_A0G2ypVhEAX_sPrxO&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&oh=03_AVLwUcRootacfxbeIwGSYCElZ-07fqOSecWtbM8ry9Viuw&oe=62C50055"
            alt="">
        <img src="https://scontent.xx.fbcdn.net/v/t1.15752-9/284231284_551926786481931_6115803390238303480_n.png?stp=cp0_dst-png&_nc_cat=105&ccb=1-7&_nc_sid=aee45a&_nc_ohc=UpoVmvQ1p-cAX86ua2U&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&oh=03_AVLtrsUOwcfH-FjXxADeENE3uikCehA4HxMY01QlXSmuxw&oe=62C605C7"
            alt="">
        <img src="https://scontent.xx.fbcdn.net/v/t1.15752-9/281348609_983645412277445_1032200249434496909_n.png?stp=cp0_dst-png&_nc_cat=110&ccb=1-7&_nc_sid=aee45a&_nc_ohc=VC65ML-Yy30AX-Ylm2Y&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&oh=03_AVIhIOygMGrGcUvd_wYqX5tVa1T5NT2IJWJrtT-5sqlM5A&oe=62C7A09E"
            alt="">
    </div>
    <p class="footer-no-coppy">Copyright ©2020 All rights reserved</p>
</div>