.container{
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    margin-top: 124px;
}

.left{
    padding-right: 100px;
}
.left h1{
    font-size: 44px;
    margin: 0;
    font-weight: bold;
}
.left p{
    font-size: 16px;
    font-weight: 600;
}
.left button{
    width: 208px;
    height: 47px;
    border: none;
    border-radius: 2px;
    background: #FF6464;
    color: #fff;
    font-size: 20px;
}
