<div class="container">
    <div class="left">
        <h1>Hi, I am John,</h1>
        <h1>Creative Technologist</h1>
        <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim
            velitmollit. Exercitation veniam consequat sunt nostrud amet.</p>
        <button>Download Resume</button>
    </div>
    <div class="right">
        <img src="https://scontent.fhan3-1.fna.fbcdn.net/v/t1.15752-9/284076169_571514367667745_7759745719761781611_n.png?_nc_cat=102&ccb=1-7&_nc_sid=ae9488&_nc_ohc=zU0pScT7RgYAX_hKekm&_nc_ht=scontent.fhan3-1.fna&oh=03_AVIPFzeaMNkIvDVRHijS8SQ_gHPy4MEOPhu8W1sxPMOh2A&oe=62C56B43"
            alt="" width="243" height="243">
    </div>
</div>