<div class="container">
    <div class="top-post">
        <h2>Recent posts</h2>
        <a href="">View all</a>
    </div>
    <div class="main">
        <div>
            <div class="post">
                <h2>Making a design system from scratch</h2>

                <div class="day-cate">
                    <span class="day">12 Feb 2020</span>
                    <span class="category">Design, Pattern</span>
                </div>

                <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat
                    duis enim velit
                    mollit. Exercitation veniam consequat sunt nostrud amet.</p>
            </div>
        </div>
        <div>
            <div class="post">
                <h2>Creating pixel perfect icons in Figma</h2>

                <div class="day-cate">
                    <span class="day">12 Feb 2020</span>
                    <span class="category">Figma, Icon Design</span>
                </div>

                <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat
                    duis enim velit
                    mollit. Exercitation veniam consequat sunt nostrud amet.</p>
            </div>
        </div>
    </div>
</div>