<app-header></app-header>
<div class="form">
    <h1 style="text-align: center;">Login</h1>
    <form nz-form #formAuth="ngForm" class="login-form" (ngSubmit)="onSubmit(formAuth)">
        <nz-form-item>
            <nz-form-control nzErrorTip="Please input your Email!">
                <label for="">Email</label>
                <nz-input-group nzPrefixIcon="user">
                    <input type="email" nz-input nzSize="large" name="email" placeholder="Email" ngModel />
                </nz-input-group>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-control nzErrorTip="Please input your Password!">
                <label for="">Password</label>
                <nz-input-group nzPrefixIcon="lock">
                    <input type="password" nz-input nzSize="large" name="password" placeholder="Password" ngModel />
                </nz-input-group>
            </nz-form-control>
        </nz-form-item>

        <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'">SignIn</button>
    </form>
</div>
<app-footer></app-footer>