<div class="container">
    <div class="work-top">
        <h1 class="title">Designing Dashboards with</h1>
        <h1 class="title">usability in mind</h1>
        <div class="feat-work-year">
            <span class="year">2020</span>
            <span class="dashboard">Dashboard, User Experience Design</span>
        </div>
        <p class="desc">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia
            consequat
            duis enim velit
            mollit. Exercitation veniam consequat sunt nostrud amet.</p>

        <img src="https://scontent.xx.fbcdn.net/v/t1.15752-9/284882825_1631061507264143_5104910192980561958_n.png?stp=dst-png_p403x403&_nc_cat=110&ccb=1-7&_nc_sid=aee45a&_nc_ohc=6noVcqno3MIAX8agAqc&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&oh=03_AVJj9csrUTwq0av41wmWLA9yu9h2wiHH-nFBcFzIuszcQA&oe=62C64856"
            alt="">
    </div>

    <div class="work-bottom">
        <h1>Heading 1</h1>
        <h2>Heading 2</h2>
        <p class="desc2">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia
            consequat duis enim
            velit
            mollit. Exercitation veniam consequat sunt nostrud amet.</p>

        <div class="img">
            <img src="https://scontent.xx.fbcdn.net/v/t1.15752-9/285267151_2251044615064414_2678626478944297404_n.png?stp=dst-png_p403x403&_nc_cat=100&ccb=1-7&_nc_sid=aee45a&_nc_ohc=qrhoEjIgVrcAX8i0VXj&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&oh=03_AVJs0_Fidi269Ts3AzyiB661Ig27DSXzSenddsDI2n2cpA&oe=62C6BB95"
                alt="">
            <img src="https://scontent.xx.fbcdn.net/v/t1.15752-9/284656975_468579604934380_4716527975513129581_n.png?stp=dst-png_p403x403&_nc_cat=102&ccb=1-7&_nc_sid=aee45a&_nc_ohc=w2FvYdNbX88AX--aDyC&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&oh=03_AVLBXcnIYwT58mSRcD4huu_8yWmU2xUCgh6tvwchcCq1Qw&oe=62C80322"
                alt="">
        </div>
    </div>
</div>